.font-mono {
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
}

.font-main {
  font-family: "Roboto", Verdana, Geneva, sans-serif;
}

.bg-gradient {
  background: linear-gradient(
    135deg,
    var(--brand),
    var(--brand-second),
    var(--featured-theme-1),
    var(--featured-theme-2),
    var(--featured-theme-3),
    var(--featured-theme-4)
  );
  background-size: 600% 600%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
