* {
    --brand: #f2709c;
    --brand-second: #ff9472;
    --white: #fff;
    --black: #000;
    --featured-theme-1: #22d2a0;
    --featured-theme-2: #e1cc13;
    --featured-theme-3: #fd9065;
    --featured-theme-4: #55cae7;
  }
  
  .bg-gradient {
    background: linear-gradient(
      135deg,
      #f2709e,
      #f28470,
      #f2c570,
      #9ef270,
      #709ef2,
      #c570f2
    );
    background-size: 600% 600%;
  
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
  }
  
  @-webkit-keyframes rainbow {
    0% {
      background-position: 0% 82%;
    }
    50% {
      background-position: 100% 19%;
    }
    100% {
      background-position: 0% 82%;
    }
  }
  @-moz-keyframes rainbow {
    0% {
      background-position: 0% 82%;
    }
    50% {
      background-position: 100% 19%;
    }
    100% {
      background-position: 0% 82%;
    }
  }
  @-o-keyframes rainbow {
    0% {
      background-position: 0% 82%;
    }
    50% {
      background-position: 100% 19%;
    }
    100% {
      background-position: 0% 82%;
    }
  }
  @keyframes rainbow {
    0% {
      background-position: 0% 82%;
    }
    50% {
      background-position: 100% 19%;
    }
    100% {
      background-position: 0% 82%;
    }
  }  